doctype html
html
  head
    style.
      .sm-filter {        
        -webkit-filter: grayscale(100%) brightness(100%) contrast(100%)  invert(100%);    
        filter: grayscale(100%) brightness(100%) contrast(100%)  invert(100%);      
      }

  body
    iframe(id='sm-iframe', class="sm-filter", width='460', height='460', scrolling='no', frameborder='no', src=data.url)
   
